<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.superspecialapp.activitytestexample" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ActivityTestExample" >
        <activity
            android:name=".MainActivity3"
            android:exported="false"
            android:label="@string/title_activity_main3"
            android:theme="@style/Theme.ActivityTestExample.NoActionBar" />
        <!--
    launch modes
    standard -> default launch mode
        A -> B -> C -> A

    singleTop -> does not allow the same activity on the top
                    to be recreated
        A -> B -> C -> launch C as a singleTop
        result: A -> B -> C

        A -> B -> C -> launch A as singleTop
        result: A -> B -> C -> A

    singleTask -> only allows a single activity of its type
        A -> B -> C -> D -> launch B as singleTask
        result: A -> B (C and D are destroyed to get back to B)

    singleInstance -> creates another stack for this activity
        A -> B -> C -> launch D as a singleInstance
        result:main stack A -> B -> C -> E
               singleInstance: D
        -->
        <activity
            android:name=".SecondActivity"
            android:exported="false"
            android:launchMode="standard" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:launchMode="singleInstancePerTask" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>